* {
    margin: 0 auto;
}
body {
    background-image: linear-gradient(to bottom, #f291dc, #c281f9,#8dd0fd,#77b6e0,#4c7b9b,rgb(47,77,97),#182832);
    font-family: 'Alice', serif;
}

.background {
    position: relative;
    /* width: 100%; */
    padding-top: 50px;
    padding-bottom: 500px;
    margin-bottom: 100px;
}
.intro {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 53px;
    font-family: 'Marko One', serif;
    color: #474056;
    text-transform: capitalize;
}
.first {
    position: absolute;
    top: 0px;
    z-index: 7; 
}
.second {
    position: absolute;
    top: 411px;
    z-index: 8;
}
.me {
    position: absolute;
    top: 70px;
    border-radius: 100%;
    z-index: 10;
}


.cloud1 {
    position: absolute;
    top: 350px;
    right: 0px;
    z-index: 1;
}

.cloud6 {
    position: absolute;
    top: 0px;
    right: 10px;
    z-index: 2;
}
.cloud3 {
    position: absolute;
    top: 20px;
    left: 35px;
    z-index: 3;
}
.cloud4 {
    position: absolute;
    top: 300px;
    left: 65px;
    z-index: 4;
}
.cloud5 {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 5;
}
.cloud2 {
    position: absolute;
    top: 300px;
    left: 40px;
    z-index: 6;
}
nav {
    position: absolute;
    z-index: 11;
    width: 100%;
    top: 595px;
    height: 50px;
    background-color: #757083;
}
nav ul {
    position: sticky;
    top: 0;
}
 ul {
    list-style: none;
    text-align: center;
    padding: 18px;
    margin-right: 10px;
}
 li{
    display: inline; 
}
 a {
    text-decoration: none;
    font-size: 20px;
    color: #F4FAFF;
    padding: 10px;
    line-height: 1.4px;
    text-transform: capitalize;
}

 a:hover {
    color:#c281f9;
}
p {
    font-size: 25px;
    color: #474056;

}
label {
    font-size: 25px;
}
h2 {
    font-size: 40px;
    font-family: 'Alice', serif;
    color: #474056;
    text-align: center;
    padding: 10px;
    text-transform: capitalize;
}
.hero {
    text-align: center;
    color: #474056;
    margin: 50px;
    padding: 50px;
}
.hero a {
    text-decoration: none;
    color:  #F4FAFF;
}

.project {
    padding: 20px;
}
.butn {
    padding: 10px;
    border-radius: 5px;
    background-color: #474056;
    color:  #F4FAFF;
}
.butn a {
    text-decoration: none;
}
.button {
    text-align: center;
    margin-top: 15px;
}
h3 {
    font-size: 40px;
    font-family: 'Alice', serif;
    color: #F4FAFF;
    text-align: center;
    padding: 10px;
    text-transform: capitalize;
}
.achivements {
    text-align: center;
}
.contact  {
    font-size: 15px;
    text-align: center;
    color: #F4FAFF;
}
.follow ul{

}
/* responsive */
@media only screen and (max-width: 600px)  {
    h1 {
        font-size: 30px;
    }
}
@media only screen and (max-width: 600px)  {
    cloud {
        visibility: hidden;
    }
}